@model IEnumerable<LTQLQLCH.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.MaHD)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThanhTien)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaHD }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaHD }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaHD })
    </td>
</tr>
}

</table>
