@model IEnumerable<LTQLQLCH.Models.HangHoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.MaHH)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.TenHH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DonGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DonViTinh)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaHH }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaHH }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaHH })
    </td>
</tr>
}

</table>
