@model IEnumerable<LTQLQLCH.Models.ChiTietXuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangHoa.TenHH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhieuXuat.MaPX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.STT)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.HangHoa.TenHH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhieuXuat.MaPX)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoLuong)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayXuat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaKH)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.STT }) |
        @Html.ActionLink("Details", "Details", new { id = item.STT }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.STT })
    </td>
</tr>
}

</table>
